# configfile for nextdump-docker.sh

# configure your dump

    # Path to docker-compose.yml
    dockcomp_path="/mnt/data_ssd/docker-compose/nextcloud"

    # Path to the secrets files
    secrets_path="$dockcomp_path/secrets"

    # dump to this folder:
    dump_to="/mnt/data_ssd/db_dump"

    # filename for dumpfile
    db_dumpfile="nextcloud-sqlbackup.sql"

    # Name of the PostgreSQL service in your docker-compose.yml
    postgres_container_name="db"

    # Name of the Nextcloud App service in your docker-compose.yml
    app_container_name="app"


# setup log & monitoring

    # store logfiles in this way
    logdir="/var/log/nextbackup"
    logname="nextdump"

    # retention: keep n logfiles
    keep=10

    # send logfile to this email
    sendto="kunde@it-flows.de"

    # name of customer / site
    site="Kundenname"

    # name of this server
    # you can let read the hostname
    # or specify by yourself
    server=$(cat /etc/hostname)
    #server="set.servername.byyourself"

    # headline of logfile
    headline="Protokolldatei vom Nexcloud DB-Dump"

    # monitoring: max age of db-dump in days
    # if file is older than n days: alert!
    max_age=2